<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="wingsConfigurationSection" type="Wings.Framework.Config.WingsConfigurationSection, Wings.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <wingsConfigurationSection>
    <EmailClient Host="smtp.163.com" Port="25"></EmailClient>
    
  </wingsConfigurationSection>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
