<div id="AddEdit" class="easyui-window" data-options="modal:true,closed:true,maximizable:false,resizable:false,minimizable:false,collapsible:false" style="padding: 10px; width: 340px;">
    <form id="frmAddEdit" class="form-horizontal" method="post">
        <div class="control-group">
            <label class="control-label" for="_ModuleName">菜单名称</label>
            <div class="controls">
                <input name="Name" id="_ModuleName" class="span3 easyui-validatebox" placeholder="菜单名称" maxlength="50" type="text" data-options="required:true" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="_ICON">图标</label>
            <div class="controls">
                <input name="ICON" id="_ICON" class="span3 easyui-validatebox" placeholder="ICON" type="text" data-options="required:true,missingMessage: '此输入项为必输项，请选择图标'" style="width: 180px;" />
                <span class="help-inline"><a class="t-icon" style="width: 18px; height: 18px;"></a></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="_ParentID">父菜单</label>
            <div class="controls">
                <input name="ParentID" id="_ParentID" class="span3 easyui-validatebox" placeholder="父菜单" maxlength="50" type="text" />
            </div>

        </div>
        <div class="control-group">
            <label class="control-label" for="_Index">排序</label>
            <div class="controls">
                <input name="Index" id="_Index" class="span3 easyui-validatebox" placeholder="菜单名称" maxlength="50" type="text" data-options="required:true" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="_Action">使用Action</label>
            <div class="controls">
                <input name="ActionID" id="_Action" class="span3 easyui-validatebox" placeholder="绝对路径" maxlength="50" type="text"  />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="_Url">自定义地址</label>
            <div class="controls">
                <input name="Url" id="_Url" class="span3 easyui-validatebox" placeholder="绝对路径" maxlength="50" type="text"  />
            </div>
        </div>
        <div class="input-prepend inline">
            <label class="control-label" for="_Status">状态</label>
            <div class="controls">
                <select name="Status" id="_Status" style="width: 216px;">
                    <option value="-1">已删除</option>
                    <option value="-1">禁用</option>
                    <option value="1">正常</option>
                    <option value="2">未激活</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="_Description">菜单描述</label>
            <div class="controls">
                <textarea id="_Description" name="Description" class="span3 easyui-validatebox" placeholder="菜单描述" data-options="required:true" rows="4" maxlength="500"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="hidden" id="WebID" name="_webid" />
                <input id="_ID" name="ID" type="hidden" />
                <a id="btnOK" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
                <a id="btnRest" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
            </div>
        </div>
    </form>
</div>
