form,ul,li{margin:0px;list-style-type:none;padding:0px;}
#HintMsg{width:271px;position:absolute;display:none;}
#HintMsg .HintTop{height:9px;background:url(images/hintbg1.gif) no-repeat;overflow:hidden;}
#HintMsg .HintInfo{padding:0 5px;border-left:1px solid #000;border-right:1px solid #000;background:#FFFFE1;line-height:1.5em;}
#HintMsg .HintInfo b{display:block;margin-bottom:6px;padding-left:15px;background:url(images/hint.gif) left center no-repeat;height:13px;line-height:16px;}
#HintMsg .HintInfo b span{display:block;float:right;text-indent:-9999px;background:url(images/close.gif) no-repeat;width:12px;height:12px;cursor:pointer;}
#HintMsg .HintFooter{height:22px;background:url(images/hintbg2.gif) no-repeat;}