<div id="select-icon-list">
    <div class="header"><a id="select-icon-close" href="javascript:;" title="关闭">关闭</a></div>
    <div class="icon-list">
    @for (int i = 0; i < 20; i++)
    {
        for (int j = 0; j < 25; j++)
        {
            string icon = string.Format("t-icon-{0}-{1}", i, j);
            <a href="javascript:;" id="@icon" class="t-icon @icon"></a>
        } 
    }
    @for (int i = 0; i < 14; i++)
    { 
        string icon = string.Format("t-icon-25-{0}", i);
        <a href="javascript:;" id="@icon" class="t-icon @icon"></a>
    }
    </div>
</div>