<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu">
        <li>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler hidden-phone"></div>
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search" action="extra_search.html" method="POST">
                <div class="form-container">
                    <div class="input-box">
                        <a href="javascript:;" class="remove"></a>
                        <input type="text" placeholder="搜索..." />
                        <input type="button" class="submit" value=" " />
                    </div>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="start active ">
            <a href="@Url.Action("index","Home")">
                <i class="fa fa-home"></i>
                <span class="title">首页</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <span class="title">系统维护</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:;">
                        <i class="fa fa-cogs"></i>
                        扩展站点
							<span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">

                        <li><a href="#"><i class="fa fa-user"></i>信息维护</a></li>
                        <li><a href="#"><i class="fa fa-leaf"></i>访问点查看</a></li>

                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-globe"></i>
                        菜单管理
	 <span ></span>
                    </a>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i>
                        权限管理
                                <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-folder-open"></i>
                                用户组权限
                                  <span ></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-folder-open"></i>
                                角色权限
                                <span ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder-open"></i>
                                添加用户权限
                                <span ></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-folder-open"></i>
                                禁止用户权限
                                <span ></span>
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:;">
                <i class="fa fa-folder-open"></i>
                <span class="title">组织架构</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i>
                        用户管理
                         <span ></span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder-open"></i>
                        分组管理
                         <span ></span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index", "role")" >@* class="wings link autorow">*@
                        <i class="fa fa-folder-open"></i>
                            角色管理
                           <span></span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
