USE [master]
GO
/****** Object:  Database [Wings]    Script Date: 2014/4/25 23:38:19 ******/
CREATE DATABASE [Wings] ON  PRIMARY 
( NAME = N'Wings', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Wings.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Wings_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Wings_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wings]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2014/4/25 23:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GroupPermission]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPermission](
	[GroupID] [uniqueidentifier] NOT NULL,
	[ModuleID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.GroupPermission] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Index] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Creator] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Version] [timestamp] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Modules]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[ControllerName] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
	[IsPost] [bit] NOT NULL,
	[Url] [nvarchar](100) NULL,
	[Target] [nvarchar](100) NULL,
	[ICON] [nvarchar](100) NOT NULL,
	[Index] [int] NOT NULL,
	[IsMenus] [bit] NOT NULL,
	[Creator] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Version] [timestamp] NOT NULL,
	[ParentID] [uniqueidentifier] NULL,
	[WebID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Modules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[RoleID] [uniqueidentifier] NOT NULL,
	[ModuleID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.RolePermission] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Creator] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserAllowPermission]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAllowPermission](
	[UserID] [uniqueidentifier] NOT NULL,
	[ModuleID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserAllowPermission] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserBanPermission]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBanPermission](
	[UserID] [uniqueidentifier] NOT NULL,
	[ModuleID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserBanPermission] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[UserId] [uniqueidentifier] NOT NULL,
	[GroupID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserGroup] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserOnlines]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOnlines](
	[ID] [uniqueidentifier] NOT NULL,
	[OnlineTime] [datetime] NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[Creator] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Version] [timestamp] NOT NULL,
	[UserID] [uniqueidentifier] NULL,
	[WebID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.UserOnlines] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[RoleID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[RealName] [nvarchar](max) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsMan] [bit] NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNum] [nvarchar](11) NOT NULL,
	[Zip] [nvarchar](20) NOT NULL,
	[QQ] [nvarchar](50) NULL,
	[ALiWangWang] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NOT NULL,
	[LastloginTime] [datetime] NOT NULL,
	[Creator] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserWeb]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWeb](
	[WebID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.UserWeb] PRIMARY KEY CLUSTERED 
(
	[WebID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Webs]    Script Date: 2014/4/25 23:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Webs](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Domain] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Creator] [uniqueidentifier] NULL,
	[CreateDate] [datetime] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.Webs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[GroupPermission] ([GroupID], [ModuleID]) VALUES (N'f5a9f1c0-dec9-e311-8265-c2fafb022587', N'215545e4-d0c9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[GroupPermission] ([GroupID], [ModuleID]) VALUES (N'f5a9f1c0-dec9-e311-8265-c2fafb022587', N'a860c40f-d1c9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[Groups] ([ID], [Name], [Index], [Description], [Creator], [CreateDate], [EditDate], [Status], [ParentID]) VALUES (N'd699be7b-dac9-e311-8265-c2fafb022587', N'杭州羽翼网络科技有限公司', 0, N'杭州分公司', NULL, CAST(0x0000A31500D54D74 AS DateTime), CAST(0x0000A3180183F523 AS DateTime), -1, NULL)
GO
INSERT [dbo].[Groups] ([ID], [Name], [Index], [Description], [Creator], [CreateDate], [EditDate], [Status], [ParentID]) VALUES (N'8d6ba93c-dec9-e311-8265-c2fafb022587', N'羽翼信息科技有限公司', 1, N'12', NULL, CAST(0x0000A31500DCAFCF AS DateTime), CAST(0x0000A3180183E8DA AS DateTime), -1, NULL)
GO
INSERT [dbo].[Groups] ([ID], [Name], [Index], [Description], [Creator], [CreateDate], [EditDate], [Status], [ParentID]) VALUES (N'9690474e-dec9-e311-8265-c2fafb022587', N'总经办', 0, N'1', NULL, CAST(0x0000A31500DCD27E AS DateTime), CAST(0x0000A31500DCD27E AS DateTime), 1, N'8d6ba93c-dec9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[Modules] ([ID], [Name], [Description], [ControllerName], [ActionName], [IsPost], [Url], [Target], [ICON], [Index], [IsMenus], [Creator], [CreateDate], [EditDate], [Status], [ParentID], [WebID]) VALUES (N'215545e4-d0c9-e311-8265-74d43588c16c', N'系统维护', N'系统设置的维护管理', NULL, NULL, 0, NULL, NULL, N't-icon-14-3', 0, 1, NULL, CAST(0x0000A31500C27156 AS DateTime), CAST(0x0000A31500C27156 AS DateTime), 1, NULL, N'2d7337bb-cec9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[Modules] ([ID], [Name], [Description], [ControllerName], [ActionName], [IsPost], [Url], [Target], [ICON], [Index], [IsMenus], [Creator], [CreateDate], [EditDate], [Status], [ParentID], [WebID]) VALUES (N'a860c40f-d1c9-e311-8265-74d43588c16c', N'站点管理', N'站点的CRUD操作', N'Web', N'Index', 0, NULL, NULL, N't-icon-12-12', 0, 1, NULL, CAST(0x0000A31500C2C6F0 AS DateTime), CAST(0x0000A31801815E28 AS DateTime), 1, N'215545e4-d0c9-e311-8265-74d43588c16c', N'2d7337bb-cec9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[Modules] ([ID], [Name], [Description], [ControllerName], [ActionName], [IsPost], [Url], [Target], [ICON], [Index], [IsMenus], [Creator], [CreateDate], [EditDate], [Status], [ParentID], [WebID]) VALUES (N'69bf4762-d1c9-e311-8265-74d43588c16c', N'菜单管理', N'菜单管理', N'Module', N'Index', 0, NULL, NULL, N't-icon-14-17', 1, 1, NULL, CAST(0x0000A31500C369A4 AS DateTime), CAST(0x0000A31700FEBF9C AS DateTime), 1, N'215545e4-d0c9-e311-8265-74d43588c16c', N'2d7337bb-cec9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[RolePermission] ([RoleID], [ModuleID]) VALUES (N'58c5b029-dfc9-e311-8265-c2fafb022587', N'215545e4-d0c9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[RolePermission] ([RoleID], [ModuleID]) VALUES (N'58c5b029-dfc9-e311-8265-c2fafb022587', N'a860c40f-d1c9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[RolePermission] ([RoleID], [ModuleID]) VALUES (N'58c5b029-dfc9-e311-8265-c2fafb022587', N'69bf4762-d1c9-e311-8265-74d43588c16c')
GO
INSERT [dbo].[Roles] ([ID], [Name], [Description], [Creator], [CreateDate], [EditDate], [Status]) VALUES (N'58c5b029-dfc9-e311-8265-c2fafb022587', N'系统管理员', N'系统管理员', NULL, CAST(0x0000A31500DE81CB AS DateTime), CAST(0x0000A31500DE81CB AS DateTime), 1)
GO
INSERT [dbo].[Roles] ([ID], [Name], [Description], [Creator], [CreateDate], [EditDate], [Status]) VALUES (N'8ae42d38-dfc9-e311-8265-c2fafb022587', N'采购人员', N'11', NULL, CAST(0x0000A31500DE9E68 AS DateTime), CAST(0x0000A31500DE9E68 AS DateTime), 1)
GO
INSERT [dbo].[Roles] ([ID], [Name], [Description], [Creator], [CreateDate], [EditDate], [Status]) VALUES (N'0ec5b744-dfc9-e311-8265-c2fafb022587', N'一般管理员', N'1', NULL, CAST(0x0000A31500DEB713 AS DateTime), CAST(0x0000A31500DEB713 AS DateTime), 1)
GO
INSERT [dbo].[UserGroup] ([UserId], [GroupID]) VALUES (N'f5a9f1c0-dec9-e311-8265-c2fafb022587', N'f745a2a9-dfc9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[UserRole] ([RoleID], [UserID]) VALUES (N'58c5b029-dfc9-e311-8265-c2fafb022587', N'f745a2a9-dfc9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[UserRole] ([RoleID], [UserID]) VALUES (N'0ec5b744-dfc9-e311-8265-c2fafb022587', N'f745a2a9-dfc9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[UserRole] ([RoleID], [UserID]) VALUES (N'7f969951-dfc9-e311-8265-c2fafb022587', N'f745a2a9-dfc9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[Users] ([ID], [Account], [RealName], [Password], [IsMan], [Birthday], [Email], [PhoneNum], [Zip], [QQ], [ALiWangWang], [Address], [LastloginTime], [Creator], [CreateDate], [EditDate], [Status]) VALUES (N'f745a2a9-dfc9-e311-8265-c2fafb022587', N'yhwang', N'王亚辉', N'05297crazy', 1, CAST(0x0000820600000000 AS DateTime), N'yahui9119@qq.com', N'15267189886', N'450000', N'646228736', NULL, N'浙江杭州滨江', CAST(0x0000A31500DF7CAF AS DateTime), NULL, CAST(0x0000A31500DF7CAF AS DateTime), CAST(0x0000A3180183AB2B AS DateTime), 1)
GO
INSERT [dbo].[UserWeb] ([WebID], [UserID]) VALUES (N'2d7337bb-cec9-e311-8265-74d43588c16c', N'f745a2a9-dfc9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[UserWeb] ([WebID], [UserID]) VALUES (N'6f1a50cc-cec9-e311-8265-74d43588c16c', N'f745a2a9-dfc9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[UserWeb] ([WebID], [UserID]) VALUES (N'825449dd-cec9-e311-8265-74d43588c16c', N'f745a2a9-dfc9-e311-8265-c2fafb022587')
GO
INSERT [dbo].[Webs] ([ID], [Name], [Description], [Domain], [IsActive], [Creator], [CreateDate], [EditDate], [Status]) VALUES (N'2d7337bb-cec9-e311-8265-74d43588c16c', N'权限管理站点', N'权限管理站点', N'admin.wingscom', 1, NULL, CAST(0x0000A31500BE31FD AS DateTime), CAST(0x0000A3180184BF75 AS DateTime), 1)
GO
INSERT [dbo].[Webs] ([ID], [Name], [Description], [Domain], [IsActive], [Creator], [CreateDate], [EditDate], [Status]) VALUES (N'6f1a50cc-cec9-e311-8265-74d43588c16c', N'OA', N'tset', N'oa.wings.com', 1, NULL, CAST(0x0000A31500BE546A AS DateTime), CAST(0x0000A3180184AF09 AS DateTime), 1)
GO
INSERT [dbo].[Webs] ([ID], [Name], [Description], [Domain], [IsActive], [Creator], [CreateDate], [EditDate], [Status]) VALUES (N'825449dd-cec9-e311-8265-74d43588c16c', N'CRM', N'sadfasdfasdf', N'crm.wings.com', 1, NULL, CAST(0x0000A31500BE732C AS DateTime), CAST(0x0000A3180184A595 AS DateTime), 1)
GO
/****** Object:  Index [IX_GroupID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_GroupID] ON [dbo].[GroupPermission]
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_ModuleID] ON [dbo].[GroupPermission]
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_ParentID] ON [dbo].[Groups]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_ParentID] ON [dbo].[Modules]
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_WebID] ON [dbo].[Modules]
(
	[WebID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_ModuleID] ON [dbo].[RolePermission]
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_RoleID] ON [dbo].[RolePermission]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_ModuleID] ON [dbo].[UserAllowPermission]
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserAllowPermission]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_ModuleID] ON [dbo].[UserBanPermission]
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserBanPermission]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_GroupID] ON [dbo].[UserGroup]
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserGroup]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserOnlines]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_WebID] ON [dbo].[UserOnlines]
(
	[WebID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_RoleID] ON [dbo].[UserRole]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserRole]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[UserWeb]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WebID]    Script Date: 2014/4/25 23:38:20 ******/
CREATE NONCLUSTERED INDEX [IX_WebID] ON [dbo].[UserWeb]
(
	[WebID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Groups] ADD  CONSTRAINT [DF__Groups__ID__108B795B]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Modules] ADD  CONSTRAINT [DF__Modules__ID__1367E606]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF__Roles__ID__164452B1]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserOnlines] ADD  CONSTRAINT [DF__UserOnlines__ID__1ED998B2]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__ID__1920BF5C]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[Webs] ADD  CONSTRAINT [DF__Webs__ID__1BFD2C07]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[GroupPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupPermission_dbo.Groups_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupPermission] CHECK CONSTRAINT [FK_dbo.GroupPermission_dbo.Groups_GroupID]
GO
ALTER TABLE [dbo].[GroupPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GroupPermission_dbo.Modules_ModuleID] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupPermission] CHECK CONSTRAINT [FK_dbo.GroupPermission_dbo.Modules_ModuleID]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Groups_dbo.Groups_ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Groups] ([ID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_dbo.Groups_dbo.Groups_ParentID]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Modules_dbo.Modules_ParentID] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Modules] ([ID])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_dbo.Modules_dbo.Modules_ParentID]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Modules_dbo.Webs_WebID] FOREIGN KEY([WebID])
REFERENCES [dbo].[Webs] ([ID])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_dbo.Modules_dbo.Webs_WebID]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RolePermission_dbo.Modules_ModuleID] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_dbo.RolePermission_dbo.Modules_ModuleID]
GO
ALTER TABLE [dbo].[RolePermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RolePermission_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermission] CHECK CONSTRAINT [FK_dbo.RolePermission_dbo.Roles_RoleID]
GO
ALTER TABLE [dbo].[UserAllowPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAllowPermission_dbo.Modules_ModuleID] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAllowPermission] CHECK CONSTRAINT [FK_dbo.UserAllowPermission_dbo.Modules_ModuleID]
GO
ALTER TABLE [dbo].[UserAllowPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserAllowPermission_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAllowPermission] CHECK CONSTRAINT [FK_dbo.UserAllowPermission_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserBanPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserBanPermission_dbo.Modules_ModuleID] FOREIGN KEY([ModuleID])
REFERENCES [dbo].[Modules] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBanPermission] CHECK CONSTRAINT [FK_dbo.UserBanPermission_dbo.Modules_ModuleID]
GO
ALTER TABLE [dbo].[UserBanPermission]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserBanPermission_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBanPermission] CHECK CONSTRAINT [FK_dbo.UserBanPermission_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGroup_dbo.Groups_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Groups] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_dbo.UserGroup_dbo.Groups_UserId]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserGroup_dbo.Users_GroupID] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_dbo.UserGroup_dbo.Users_GroupID]
GO
ALTER TABLE [dbo].[UserOnlines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserOnlines_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserOnlines] CHECK CONSTRAINT [FK_dbo.UserOnlines_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserOnlines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserOnlines_dbo.Webs_WebID] FOREIGN KEY([WebID])
REFERENCES [dbo].[Webs] ([ID])
GO
ALTER TABLE [dbo].[UserOnlines] CHECK CONSTRAINT [FK_dbo.UserOnlines_dbo.Webs_WebID]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Roles_RoleID]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserWeb]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserWeb_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWeb] CHECK CONSTRAINT [FK_dbo.UserWeb_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[UserWeb]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserWeb_dbo.Webs_WebID] FOREIGN KEY([WebID])
REFERENCES [dbo].[Webs] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWeb] CHECK CONSTRAINT [FK_dbo.UserWeb_dbo.Webs_WebID]
GO
USE [master]
GO
