@{
    ViewBag.Title = "管理员后台登陆";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="tabsPageHeader">
    <div class="tabsPageHeaderContent">
        <!-- 显示左右控制时添加 class="tabsPageHeaderMargin" -->
        <ul class="navTab-tab">
            <li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">我的主页</span></span></a></li>
        </ul>
    </div>
    <div class="tabsLeft">
        left
    </div>
    <!-- 禁用只需要添加一个样式 class="tabsLeft tabsLeftDisabled" -->
    <div class="tabsRight">
        right
    </div>
    <!-- 禁用只需要添加一个样式 class="tabsRight tabsRightDisabled" -->
    <div class="tabsMore">
        more
    </div>
</div>
<ul class="tabsMoreList">
    <li><a href="javascript:;">我的主页</a></li>
</ul>
<div class="navTab-panel tabsPageContent layoutBox">
    <div class="page unitBox">
        <div class="accountInfo" style="display: none">
            <div class="alertInfo">
                <p>
                </p>
            </div>
            <div class="right">
            </div>
            <p>
                您好：<%=realName %>
            </p>
        </div>
        <div class="pageFormContent" layouth="42">
            <div style="width: 48%; margin: 5px; float: left;">
                <div style="padding: 5px; margin: 5px; height: 200px; margin-bottom: 40px;">
                    <fieldset style="height: 100%; width: 100%;">
                        <legend style="padding: 8px 8px 8px 6px;">新闻公告</legend>

                    </fieldset>
                </div>
                <div rel="Default_TaskDiv" id="Default_TaskDiv" style="padding: 5px; margin: 5px; height: 200px;">
                    <fieldset style="height: 100%; width: 100%;">
                        <legend style="padding: 8px 8px 8px 6px;">待办事项(<b><%=taskCount %></b>)</legend>
                       
                    </fieldset>
                </div>
            </div>
            <div style="width: 48%; margin: 5px; float: left;">
                <div style="padding: 5px; margin: 5px; height: 200px; margin-bottom: 40px;">
                    <fieldset id="Default_UserInfo" style="height: 100%; width: 100%;">
                        <legend style="padding: 8px 8px 8px 6px;">个人信息</legend>
                        <br />
                        <div>
                            测试阶段下列数据可能出现误差！本页数据统计截止至今日零点！
                        </div>
                        <br />
                        <dl>
                            <dt>本月已请事假：</dt>
                            <dd><%=000 %>天</dd>
                        </dl>
                        
                    </fieldset>
                </div>
                <div style="padding: 5px; margin: 5px; height: 200px;">
                    <fieldset style="height: 100%; width: 100%;">
                        <legend style="padding: 8px 8px 8px 6px;">资料下载</legend>
                      
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
